@model IEnumerable<SistemaBliss.EN.Servicio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="d-grid" style="gap:16px; grid-template-columns:2fr 1fr 1fr 1fr; margin-bottom:16px;">
    <div style="padding: 16px; gap:16px; display:flex; flex-direction:column;  border: 1px solid #E0E0E2; border-radius:16px;">
        <div>
            <h3 class="titulo">Agregar servicio</h3>
            <p class="parrafo">Agrega un nuevo servicio a la barberia</p>
        </div>
        <div class="d-flex justify-content-end">
            @Html.ActionLink("Nuevo servicio", "Create", null, new { @Class = "btn-morado" })
        </div>
    </div>
    <div style="padding: 24px; display:grid; justify-content:space-between; border: 1px solid #E0E0E2; border-radius:16px;">
        <p style="margin-bottom: 0px;" class="parrafo">Servicios activos</p>
        <p style="font-size:42px; margin-bottom:0px; font-weight:600;">7</p>
        <p style="margin-bottom: 0px;" class="parrafo">Registros</p>
    </div>
    <div style="padding: 24px; display:grid; justify-content:space-between; border: 1px solid #E0E0E2; border-radius:16px;">
        <p style="margin-bottom: 0px;" class="parrafo">Servicios inactivos</p>
        <p style="font-size:42px; margin-bottom:0px; font-weight:600;">3</p>
        <p style="margin-bottom: 0px;" class="parrafo">Registros</p>
    </div>
    <div style="padding: 24px; display:grid; justify-content:space-between; border: 1px solid #E0E0E2; border-radius:16px;">
        <p style="margin-bottom: 0px;" class="parrafo">Servicios totales</p>
        <p style="font-size:42px; margin-bottom:0px; font-weight:600;">10</p>
        <p style="margin-bottom: 0px;" class="parrafo">Registros</p>
    </div>
</div>


<div style="padding: 16px; border: 1px solid #E0E0E2; border-radius:16px; height:100vh;">
    <div class="d-flex justify-content-between" style="width:100%;">
        <div>
            <h3 class="titulo">Servicios registrados</h3>
            <p class="parrafo">Administra todos los servicios registrados</p>
        </div>

        <div class="d-flex" style="gap:16px;">
            <form method="get" action="@Url.Action("Index","Servicio")" style="gap:16px;" class="d-flex align-items-start">

                <div class="">
                    @Html.DropDownList("IdCategoriaServicio", new SelectList(ViewBag.Categorias, "Value", "Text", null), new { @class = "form-select", style = "width:250px;" })
                </div>
                <div class="">
                    <input style="width:300px;" type="text" class="form-control" name="filtroNombre" placeholder="Ingrese el dato de búsqueda" />
                </div>

                <div class="">
                    <button type="submit" class="btn-second">Buscar</button>
                </div>
            </form>
        </div>
    </div>


    <ul class="nav d-flex mt-3 nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-activos-tab" data-bs-toggle="pill" data-bs-target="#pills-activos" type="button" role="tab" aria-controls="pills-activos" aria-selected="true">
                Servicios Activos
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-inactivos-tab" data-bs-toggle="pill" data-bs-target="#pills-inactivos" type="button" role="tab" aria-controls="pills-inactivos" aria-selected="false">
                Servicios Inactivos
            </button>
        </li>
    </ul>



    <div class="tab-content" id="pills-tabContent">
        <!-- Tab para Servicios Activos -->
        <div class="tab-pane fade" id="pills-activos" role="tabpanel" aria-labelledby="pills-activos-tab">
            <table class="table">
                <thead>
                    <tr>
                        <th class="d-none">ID</th>
                        <th>Foto</th>
                        <th>Nombre</th>
                        <th class="d-none">Descripción</th>
                        <th>Precio</th>
                        <th>Categoría</th>
                        <th class="d-none">Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.ServiciosActivos != null)
                    {
                        foreach (var item in ViewBag.ServiciosActivos)
                        {
                            <tr>
                                <td class="d-none">@item.IdServicio</td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.Imagen))
                                    {
                                        <img src="@Url.Content(item.Imagen)" alt="Imagen de @item.Nombre" style="width:50px; height:50px; border-radius:100px; object-fit:cover;" />
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~/Content/Images/DefaultImage.png")" alt="Imagen predeterminada" style="width:50px; height:50px; border-radius:100px; object-fit:cover;" />
                                    }
                                </td>
                                <td>@item.Nombre</td>
                                <td class="d-none">@item.Descripción</td>
                                <td>@item.Precio</td>
                                <td>@item.CategoriaServicio.Nombre</td>
                                <td class="d-none">@item.Estado.Nombre</td>
                                <td>
                                    <a href="@Url.Action("Edit", "Servicio", new { id = item.IdServicio })" style="padding:8px 12px;"  class="btn-editar btn btn-sm mx-2">Editar</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <!-- Tab para Servicios Inactivos -->
        <div class="tab-pane fade" id="pills-inactivos" role="tabpanel" aria-labelledby="pills-inactivos-tab">
            <table class="table">
                <thead>
                    <tr>
                        <th class="d-none">ID</th>
                        <th>Foto</th>
                        <th>Nombre</th>
                        <th class="d-none">Descripción</th>
                        <th>Precio</th>
                        <th>Categoría</th>
                        <th class="d-none">Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.ServiciosInactivos != null)
                    {
                        foreach (var item in ViewBag.ServiciosInactivos)
                        {
                            <tr>
                                <td class="d-none">@item.IdServicio</td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.Imagen))
                                    {
                                        <img src="@Url.Content(item.Imagen)" alt="Imagen de @item.Nombre" style="width:50px; height:50px; border-radius:100px; object-fit:cover;" />
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~/Content/Images/DefaultImage.png")" alt="Imagen predeterminada" style="width:50px; height:50px; border-radius:100px; object-fit:cover;" />
                                    }
                                </td>
                                <td>@item.Nombre</td>
                                <td class="d-none">@item.Descripción</td>
                                <td>@item.Precio</td>
                                <td>@item.CategoriaServicio.Nombre</td>
                                <td class="d-none">@item.Estado.Nombre</td>
                                <td>
                                    <a href="@Url.Action("Edit", "Servicio", new { id = item.IdServicio })" style="padding:8px 12px;"  class="btn btn-editar  btn-sm mx-2">Editar</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

    @section scripts {


        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const tabs = document.querySelectorAll('#pills-tab button');
                tabs.forEach(tab => {
                    tab.addEventListener('click', function () {
                        localStorage.setItem('selectedTab', this.getAttribute('id'));
                    });
                });

                const selectedTab = localStorage.getItem('selectedTab');
                if (selectedTab) {
                    const tabToActivate = document.querySelector(`#${selectedTab}`);
                    if (tabToActivate) {
                        tabToActivate.click();
                    }
                } else {
                    // Activar por defecto el tab de Empleados Activos
                    const defaultTab = document.querySelector('#pills-activos-tab');
                    if (defaultTab) {
                        defaultTab.click();
                    }
                }
            });

        </script>


        @if (TempData["mensaje"] != null)
        {
            <script>
        Swal.fire({
            icon: "@(TempData["tipo"]!= null? TempData["tipo"]: "success")",
            title: "@TempData["mensaje"]",
            showConfirmButton: false,
            timer: 1500
        });
            </script>

            TempData["mensaje"] = null; // Vaciar memoria
        }

    }
