@model IEnumerable<SistemaBliss.EN.Usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="get" action="@Url.Action("Index", "Empleado")" class="row">

    <h3 class="titulo">Empleados</h3>
    <p class="parrafo">Busca un empleado en los siguientes filtros</p>

    <div class="col-12 col-lg-3 mt-2">
        <label class="form-label fw-bold" for="Nombre">Dato de busqueda:</label>
        <input type="text" class="form-control" name="Nombre" placeholder="Ingrese el dato de búsqueda" />
    </div>

    <div class="col-12 col-lg-3 mt-2">
        <label class="form-label fw-bold" for="campoBusqueda">Tipo de busqueda:</label>
        @Html.DropDownList("campoBusqueda", ViewBag.Options as List<SelectListItem>, new { @class = "form-select" })
    </div>

    <div class="col-12 col-lg-2 d-flex align-items-end mt-2">
        <button type="submit" class="btn-second me-3">Buscar</button>
        @Html.ActionLink("Nuevo", "Create", null, new { @Class = "btn-morado" })
    </div>

</form>

<div class="col-12 col-lg-2 d-flex align-items-end mt-3">
    <button class="btn-morado" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">Profesiones</button>
</div>
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Agregar Profesión</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="professions-list" class="mt-2">
                </div>
            </div>
        </div>
    </div>
</div>





<ul class="nav d-flex nav-pills mt-3 mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-activos-tab" data-bs-toggle="pill" data-bs-target="#pills-activos" type="button" role="tab" aria-controls="pills-activos" aria-selected="true">
            Empleados Activos
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-inactivos-tab" data-bs-toggle="pill" data-bs-target="#pills-inactivos" type="button" role="tab" aria-controls="pills-inactivos" aria-selected="false">
            Empleados Inactivos
        </button>
    </li>
</ul>

<div class="tab-content" id="pills-tabContent">
    <!-- Tab para Empleados Activos -->
    <div class="tab-pane fade" id="pills-activos" role="tabpanel" aria-labelledby="pills-activos-tab">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Teléfono</th>
                    <th>DUI</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.EmpleadosActivos != null)
                {
                    foreach (var item in ViewBag.EmpleadosActivos)
                    {
                        <tr>
                            <td>@item.IdUsuario</td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.UrlImagen))
                                {
                                    <img src="@Url.Content(item.UrlImagen)" alt="Imagen de @item.Nombre" style="width:50px; height:50px; border-radius:100px; object-fit:cover;" />
                                }
                                else
                                {
                            <img src="@Url.Content("~/Content/Images/DefaultImage.png")" alt="Imagen predeterminada" style="width:50px; height:50px; border-radius:100px; object-fit:cover;" />
                                }
                            </td>
                            <td>@item.Nombre</td>
                            <td>@item.Apellido</td>
                            <td>@item.Telefono</td>
                            <td>@item.Dui</td>
                            <td>@item.Rol.Nombre</td>
                            <td>@item.Estado.Nombre</td>
                            <td>
                                <a href="@Url.Action("AgregarProfesion", "Empleado", new { id = item.IdUsuario })" class="btn btn-morado btn-sm mx-2">Profesiones</a>
                                <a href="@Url.Action("Edit", "Empleado", new { id = item.IdUsuario })" class="btn btn-editar btn-sm mx-2">Editar</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <!-- Tab para Empleados Inactivos -->
    <div class="tab-pane fade" id="pills-inactivos" role="tabpanel" aria-labelledby="pills-inactivos-tab">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Teléfono</th>
                    <th>DUI</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.EmpleadosInactivos != null)
                {
                    foreach (var item in ViewBag.EmpleadosInactivos)
                    {
                        <tr>
                            <td>@item.IdUsuario</td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.UrlImagen))
                                {
                                    <img src="@Url.Content(item.UrlImagen)" alt="Imagen de @item.Nombre" style="width:50px; height:50px; border-radius:100px; object-fit:cover;" />
                                }
                                else
                                {
                            <img src="@Url.Content("~/Content/Images/DefaultImage.png")" alt="Imagen predeterminada" style="width:50px; height:50px; border-radius:100px; object-fit:cover;" />
                                }
                            </td>
                            <td>@item.Nombre</td>
                            <td>@item.Apellido</td>
                            <td>@item.Telefono</td>
                            <td>@item.Dui</td>
                            <td>@item.Rol.Nombre</td>
                            <td>@item.Estado.Nombre</td>
                            <td>
                                <a href="@Url.Action("AgregarProfesion", "Empleado", new { id = item.IdUsuario })" class="btn btn-morado btn-sm mx-2">Profesiones</a>
                                <a href="@Url.Action("Edit", "Empleado", new { id = item.IdUsuario })" class="btn btn-editar btn-sm mx-2">Editar</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const tabs = document.querySelectorAll('#pills-tab button');
            tabs.forEach(tab => {
                tab.addEventListener('click', function () {
                    localStorage.setItem('selectedTab', this.getAttribute('id'));
                });
            });

            const selectedTab = localStorage.getItem('selectedTab');
            if (selectedTab) {
                const tabToActivate = document.querySelector(`#${selectedTab}`);
                if (tabToActivate) {
                    tabToActivate.click();
                }
            } else {
                // Activar por defecto el tab de Empleados Activos
                const defaultTab = document.querySelector('#pills-activos-tab');
                if (defaultTab) {
                    defaultTab.click();
                }
            }
        });

    </script>

    <script>
    // Asegúrate de que esta función se llama cuando se abre el modal
    function loadProfessionsList() {
        $.ajax({
            url: '@Url.Action("ListaProfesiones", "Profesion")', // Llama a la acción del controlador que carga la vista parcial
            type: 'GET',
            success: function (data) {
                // Cargar la vista parcial dentro del modal
                $('#professions-list').html(data);
            },
            error: function () {
                alert('Error al cargar el listado de profesiones.');
            }
        });
    }

    // Vincula el evento de carga de la lista al abrir el modal
    $('#exampleModalToggle').on('shown.bs.modal', function () {
        loadProfessionsList(); // Llama a la función cuando el modal se muestre
    });
    </script>





    @if (TempData["mensaje"] != null)
    {
        <script>
        Swal.fire({
            icon: "@(TempData["tipo"]!= null? TempData["tipo"]: "success")",
            title: "@TempData["mensaje"]",
            showConfirmButton: false,
            timer: 1500
        });
        </script>

        TempData["mensaje"] = null; // Vaciar memoria
    }

}

