@model IEnumerable<SistemaBliss.EN.HorariosEmpresa>

<div>
    @using (Html.BeginForm("Create", "Horario", FormMethod.Post, new { @class = "form", id = "horarioForm" }))
    {
        @Html.AntiForgeryToken()

        <input id="IdEmpresa" type="hidden" class="form-control" name="IdEmpresa" value="1" required />

        <div class="mb-3">
            <select id="DiasId" name="Dias" class="form-select">
                <option value="Lunes">Lunes</option>
                <option value="Martes">Martes</option>
                <option value="Miercoles">Miércoles</option>
                <option value="Jueves">Jueves</option>
                <option value="Viernes">Viernes</option>
                <option value="Sabado">Sabado</option>
                <option value="Domingo">Domingo</option>
            </select>
        </div>


        <div class="mb-3">
            <input id="HoraEntradaId" type="time" class="form-control" name="HoraEntrada" required />
        </div>

        <div class="mb-3">
            <input id="HoraSalidaId" type="time" class="form-control" name="HoraSalida" required />
        </div>


        <button type="submit" class="btn btn-primary" id="submitButton">Guardar</button>
    }


    <div class="mt-4" style="max-height: 300px; overflow-y: auto;">
        <table class="table">
            <thead>
                <tr>
                    <th class="d-none">ID</th>
                    <th class="d-none">IDEmpresa</th>
                    <th>Dias</th>
                    <th>Hora de entrada</th>
                    <th>Hora de salida</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="d-none">@item.IdHorariosEmpresa</td>
                        <td class="d-none">@item.IdEmpresa</td>
                        <td>@item.Dias</td>
                        <td>@DateTime.Today.Add(item.HoraEntrada).ToString("hh:mm tt")</td>
                        <td>@DateTime.Today.Add(item.HoraSalida).ToString("hh:mm tt")</td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm mx-2"
                                    onclick="editProfesion(@item.IdHorariosEmpresa, @item.IdEmpresa, '@item.Dias', '@item.HoraEntrada.ToString(@"hh\:mm")', '@item.HoraSalida.ToString(@"hh\:mm")')">
                                Editar
                            </button>
                            <button type="button" class="btn btn-danger btn-sm"
                                    onclick="funcEliminar('@Url.Action("Delete", "Horario", new { id = item.IdHorariosEmpresa })')">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
<script>
function editProfesion(id, empresaId, dias, horaentrada, horasalida) {
    // Convertir las horas al formato HH:mm
    let horaEntradaFormateada = horaentrada.substring(0, 5);
    let horaSalidaFormateada = horasalida.substring(0, 5);

    var form = document.getElementById("horarioForm");

    var inputId = document.getElementById("HorarioId");

    if (!inputId) {
        inputId = document.createElement("input");
        inputId.type = "hidden";
        inputId.name = "IdHorariosEmpresa";
        inputId.id = "HorarioId";
        form.appendChild(inputId);
    }

    inputId.value = id;
    document.getElementById("DiasId").value = dias;
    document.getElementById("IdEmpresa").value = empresaId;
    document.getElementById("HoraEntradaId").value = horaEntradaFormateada;
    document.getElementById("HoraSalidaId").value = horaSalidaFormateada;

    document.getElementById("submitButton").innerText = "Guardar cambios";

    // Cambiamos a la acción Edit del controlador Horario
    form.action = '@Url.Action("Edit", "Horario")';
}
</script>

